@import 'bootstrap/dist/css/bootstrap.min.css';

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    gap: 20px;
}

form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}